body{
    background-color: rgb(198, 235, 219);
    p {
        font-style: italic;
        color: rgba(9, 78, 52, 0.877);
    }

    h1{
        color: red;
    }

    h2{
        color: blue;
    }

    .demo{
        background-color: rgb(218, 36, 66);
        border: 1px solid black;
    }
}